<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.myself"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".application.configuration.MyselfApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.M3"
        tools:targetApi="31">
        <!-- TODO flavor de dev >> android:usesCleartextTraffic="true" -->
        <service
            android:name=".presentation.notification.Notification"
            android:exported="true"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/notification_icon" />

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".presentation.ui.home.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.financas.FinancasActivity"
            android:screenOrientation="userPortrait"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".presentation.ui.crises.CrisesActivity" />
    </application>

</manifest>